[Unit]
Description=Run rw-backup-full every configured interval

[Timer]
OnBootSec=10min
OnUnitActiveSec=3h
Persistent=true
Unit=rw-backup-full.service

[Install]
WantedBy=timers.target
