# Инстанс WAL-архивации: кастомный бот из /home.
# Скопируйте в /opt/rw-backup-restore/instances.d/<имя>.env
# Имя файла = имя инстанса в командах (rw-backup-full basebackup <имя>).

INST_ENABLED="true"
INST_KIND="bot"

# Имя контейнера PostgreSQL бота (docker ps). Например vpn_postgres.
INST_CONTAINER="vpn_postgres"

# Compose проекта бота и имя сервиса БД.
INST_COMPOSE_FILE="/home/VPNNEW/docker-compose.yml"
INST_COMPOSE_SERVICE="postgres"

INST_PGUSER="postgres"
INST_PGDATABASE="postgres"

INST_ARCHIVE_TIMEOUT="300"
# Интервалы ИЛИ списки конкретных времён (см. panel.env.example):
INST_BASEBACKUP_INTERVAL_HOURS="24"
#INST_BASEBACKUP_TIMES="04:00 16:00"
INST_WAL_SHIP_INTERVAL_MIN="1"
#INST_WAL_SHIP_TIMES=""
#INST_SCHEDULE_TZ=""
INST_LOCAL_BASEBACKUP_KEEP="2"
INST_S3_BASEBACKUP_KEEP="7"

INST_VERIFY_TABLES=""
INST_ENCRYPT="false"
